p{
    background-color: rgb(225, 126, 143);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#secondElement{
    color: blue;
    font-size: 36px;
}
.thirdElement{
    font-size:24px;
}
#fourthElement{
    background-color: lightgreen;
    font-size: 24px;
    font-style: bold;
}
